<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='script2.js') }}"></script>
</head>
<body>
   <h1>Welcome to erc1155 app</h1>
   <h1> <button onclick="send_erc_data()">#1 ERC 20 - 1.5</button></h1>
   <h2> <button onclick="some_funct()">#2 ERC 20 - 2</button></h2>
   <h3><button onclick="some_funct()">#3 ERC 20 - 4.2</button></h3>
</body>
</html>
