<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>FlaskBlog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename= 'css/style.css') }}">  
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/web3/dist/web3.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='node_modules/tarp/require/require.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='metamask.js') }}"></script>


</head>
<body>
   <h1>Welcome to erc1155 app</h1>

   <h1> <button id="button_1">#1 ERC 20 - 1.5</button></h1>
   <h2> <button id="button_2">#2 ERC 20 - 2</button></h2>
   <h3><button id="button_3">#3 ERC 20 - 4.2</button></h3>
   <h4><p id="text_change">transaction 1(send ether)</p></h4>
   <h5><p id="text_change1">transaction 2(mint erc721 and send to user)</p></h5>
   <h6><p id="text_change2">transaction 3(mint erc1155)</p></h6>

<script>

a=0;
pressed_button="";
koefficent=0;
konverted_koeff="";
const btn1 = document.getElementById("button_1");
const btn2 = document.getElementById("button_2");
const btn3 = document.getElementById("button_3");

p = document.getElementById('text_change');
p1 = document.getElementById('text_change1');
p2 = document.getElementById('text_change2');





btn1.onclick = function (evt) { 
  if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}
  a=a+1;
  if (pressed_button!="button1" && pressed_button!="" && a==2) {
  koefficent = koefficent+1.5;
  pressed_button="";
  konverted_koeff = koefficent.toString();
  x=parseInt(konverted_koeff, 16); 
   //await wait(1000);
   document.getElementById("button_2").style.backgroundColor = "white";
   document.getElementById("button_3").style.backgroundColor = "white";
   this.style.backgroundColor = "white";
  callContract(x);   

  koefficent = 0;
  a=0;
  }
  
  else if (a<2) {
    koefficent = koefficent+1.5;
    pressed_button="button1";
    console.log('press the second button');
  }


};

btn2.onclick = function (evt) {  
  if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}
  a=a+1;
  if (pressed_button!="button2" && pressed_button!="" && a==2) {
  a=0;
  koefficent = koefficent+2;
  pressed_button="";
  konverted_koeff = koefficent.toString();
  x=parseInt(konverted_koeff, 16); 
   //await wait(1000);
   document.getElementById("button_1").style.backgroundColor = "white";
   document.getElementById("button_3").style.backgroundColor = "white";   
   this.style.backgroundColor = "white";
  callContract(x);
  console.log(koefficent);
  koefficent = 0;
  
  }
  
 else if (a<2) {
    koefficent = koefficent+2;
    pressed_button="button2";
    console.log('press the second button');
  }


};




btn3.onclick = function(evt) { //для 3 кнопки
  if (this.style.backgroundColor != "green"){this.style.backgroundColor = "green"}

 a=a+1;
  if (pressed_button!="button3" && pressed_button!="" && a==2) {
  a=0;
  koefficent = koefficent+4.2;
  pressed_button="";
  konverted_koeff = koefficent.toString();
  x=parseInt(konverted_koeff, 16); 
   document.getElementById("button_2").style.backgroundColor = "white";
   document.getElementById("button_1").style.backgroundColor = "white";
   this.style.backgroundColor = "white";
  callContract(x);

  console.log(koefficent);
  koefficent = 0;
  
  }
  
 else if (a<2) {
    koefficent = koefficent+4.2;
    pressed_button="button3";
    console.log('press the second button');
  }
 
};




	

    </script>


</body>
</html>
