Flask==1.1.2
gunicorn==20.1.0
ethereum==1.6.1
ethereum-abi-utils==0.4.0
ethereum-utils==0.4.0
google-api-core==1.1.1
google-auth==1.4.1
google-cloud-core==0.28.1
google-cloud-storage==1.8.0
google-resumable-media==0.3.1
googleapis-common-protos==1.5.3
json-rpc==1.10.3
